extends ../layout

block content
  .overlay
    .login-window
      h1 Create Your GatorTrade Account

      form(method="POST", action="/register")
        label(for="email") Email:
        input#email(type="email", name="email", required)

        label(for="username") Username:
        input#username(type="text", name="username", required)

        label(for="password") Password:
        input#password(type="password", name="password", required)

        label(for="confirmPassword") Confirm Password:
        input#confirmPassword(type="password", name="confirmPassword", required)

        .buttons
          button(type="submit" class="button-primary") Create Account
          a.create-account-link.button-secondary(href="/login") Back to Login

      p.disclaimer
        | By creating an account, you agree to absolve us of all responsibility and liability in perpetuity.
        | GatorTrade is provided "as is" without warranty of any kind, either expressed or implied.