extends layout
   
block content
  .card.simple-page.cart-page
    h1 #{currentUser.username}'s Cart
    p Negative quantities indicate a SELL order.

    table.cart-table
      thead
        tr
          th Symbol
          th Quantity
          th Price
          th Action
      tbody#dataTableBody


    h3#total

    .cart-actions
      button#purchase.button-primary Check Out 
      button#dump Clear All

  // pass data into cart.js exactly like before
  script(type='text/javascript').
    var cart_items = !{JSON.stringify(cart_items)};
    var user = "#{currentUser.username}";

  script(src='/cart.js')
